<app-grid>
  <ng-template appGridItem="firstItem" appGridItemLabel="First Item">
    <div class="bg-danger h-100">
      Some content goes here
    </div>
  </ng-template>

  <ng-template appGridItem="secondItem" appGridItemLabel="Second Item">
    <div class="bg-warning h-100">
      Some content goes here
    </div>
  </ng-template>

  <ng-template appGridItem="thirdItem" appGridItemLabel="Third Item">
    <div class="bg-primary h-100">
      Some content goes here
    </div>
  </ng-template>
</app-grid>
