<div class="d-flex flex-column h-100" cdkDropListGroup>
  <ng-container *ngFor="let row of contentsMatrix; index as rowIndex">
    <div appTileContainer #ctnr="appTileContainer" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="row" (cdkDropListDropped)="drop($event)" class="flex-grow-1 position-relative pe-5">
      <ng-container *ngFor="let col of row">
        <div #tile="appTile" class="card p-3" cdkDrag appTile>
          <div class="h-100">
            <ng-container *ngTemplateOutlet="col.view"></ng-container>
          </div>
          <div class="position-absolute top-0 end-0 p-3 d-flex flex-column gap-1" style="width: initial">
            <div container="body" ngbTooltip="Move Item" placement=start>
              <i class="bi bi-arrows-move cursor-pointer" cdkDragHandle></i>
            </div>
            <div container="body" ngbTooltip="Remove Item" placement=start>
              <i class="bi bi-trash cursor-pointer" (click)="removeItem(row, col.id)"></i>
            </div>
            <div container="body" ngbTooltip="Make Larger" placement=start>
              <i class="bi bi-arrow-right cursor-pointer" (click)="makeLarger(row, tile)"></i>
            </div>
            <div container="body" ngbTooltip="Make Smaller" placement=start>
              <i class="bi bi-arrow-left cursor-pointer" (click)="makeSmaller(row, tile)"></i>
            </div>
            <div container="body" ngbTooltip="Reset Size" placement=start>
              <i *ngIf="tile.width cursor-pointer" (click)="resetSize(tile)">W: {{ tile.width }} / 12</i>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="position-absolute top-0 end-0 p-3 d-flex flex-column gap-1" style="width: initial">
        <div container="body" ngbTooltip="Add Item to Row" placement=start>
          <i class="bi bi-plus cursor-pointer" [ngbPopover]="availableItems" [popoverContext]="{ $implicit: row }"></i>
        </div>
        <div container="body" ngbTooltip="Remove Row" placement=start>
          <i *ngIf="contentsMatrix.length > 1" class="bi bi-trash cursor-pointer" (click)="removeRow(rowIndex)"></i>
        </div>
        <div container="body" ngbTooltip="Add Row" placement=start>
          <i class="bi bi-file-earmark-plus  cursor-pointer" (click)="addRow()"></i>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #availableItems let-row>
  <h4 class="me-5 text-nowrap">Add Item</h4>
  <ul class="list-group">
    <li class="list-group-item text-nowrap cursor-pointer" *ngFor="let item of flatContents" (click)="row.push(item)">{{ item.label }}</li>
  </ul>
</ng-template>
